[flake8]
ignore = D100
disable_noqa = True
paths = 
    ./pep_parse
max_complexity = 10
max_line_length = 79
exclude =
    tests/,
    pep_parse/pep_parse/settings.py,
    pep_parse/pep_parse/middlewares.py,
    __init__.py